th {
    text-align: left;
    position: sticky;
    top: 0;

    padding: 6px;
    background: #fff;
    border: 1px solid #a6a6a6;
}

th > div {
    display: flex;
    justify-content: space-between;
}

th.relation-icon {
    text-align: center;

    div {
        text-align: left;
    }

    icon {
        padding: 0;
    }
}