
<thead table-header
    [columns]="getVisibleColumns()"
    [recordsetIDs]="extractRecordsetIDs()"
    [isSelectable]="isSelectable"
    >
</thead>

<caption pagination
    [count]="data.length"
    [modelSingular]="modelSingular"
    [modelPlural]="modelPlural"
    [total]="total">
</caption >

<tbody *ngIf="isLoading" class="message">
    <tr>
        <td [colSpan]="columns.length" [ngStyle]="{textAlign: 'center'}">Loading...</td>
    </tr>
</tbody>

<tbody *ngIf="!isLoading && !data.length" class="message">
    <tr>
        <td [colSpan]="columns.length" [ngStyle]="{textAlign: 'center'}">No Data</td>
    </tr>
</tbody>

<tbody table-body
    [columns]="columns"
    [data]="data"
    [idProperty]="idProperty"
    [isSelectable]="isSelectable"
    >
</tbody >