<ng-container *ngIf="type === 'empty'">
    &nbsp;
</ng-container>

<ng-container *ngIf="type === 'text'">
    {{value}}
</ng-container>

<input *ngIf="type === 'boolean'"
    type="checkbox"
    [checked]="value"
    class="readonly" />

<color-cell *ngIf="type === 'color'"
    class="color"
    [value]="value">
</color-cell>

<status-cell *ngIf="type === 'status'"
    class="status"
    [value]="value">
</status-cell>

<link-cell *ngIf="type === 'link'"
    [config]="column.config || {}"
    [record]="record"
    [value]="value">
</link-cell>

<toggle-cell *ngIf="type === 'toggle'"
    [config]="column.config"
    [record]="record"
    [value]="value">
</toggle-cell>

