:host {
    
    td {
        overflow: hidden;

        section {
            transition: all 0.5s 0.1s ease;
            padding: 2rem;
        }
    }

    &.open {
        border: inherit;

        td {
            section {
                max-height: 400px;
                opacity: 1;
            }
        }
    }

    &.closed {
        border: none;
        padding: 0;

        td {
            border: none;
            padding: 0;

            section {
                border: none;
                padding: 0;
                opacity: 0;
                max-height: 0;
            }
        }
    }
}