:host {
    
    td {
        overflow: hidden;

        section {
            transition: all 0.5s 0s ease;
            padding: 2rem;
            
            h3 {
                margin: 0.5rem 0rem 0.5rem 0;
            }
        }
    }

    &.open {
        border: inherit;

        td {
            section {
                max-height: 400px;
                opacity: 1;
            }
        }
    }

    &.closed {
        border: none;
        padding: 0;

        td {
            border: none;
            padding: 0;

            section {
                border: none;
                padding: 0;
                opacity: 0;
                max-height: 0;

            }
        }
    }
}