:host {
    input{
        width: calc(100% - 4px);
        border: 1px solid lightgray;
        outline: none;
    }

    input:active{
        outline: none;
    }

    div {
        display: flex;

        img {
            width: 16px;
            margin-left: 5px;
        }
    }
}

.hidden {
    display: none;
}