
<thead table-header
    [columns]="getVisibleColumns()"
    [hasActions]="actions.length > 0"
    [isSelectable]="isSelectable"
    [recordsetIDs]="extractRecordsetIDs()"
    [totalCount]="total"
    >
</thead>

<caption pagination
    [count]="data.length"
    [labels]="labels"
    [modelSingular]="modelSingular"
    [modelPlural]="modelPlural"
    [total]="total"
    [selectionStatus]="selectionStatus">
</caption >

<tbody *ngIf="isLoading" class="message">
    <tr>
        <td [colSpan]="columns.length" [ngStyle]="{textAlign: 'center'}">
            <loading></loading>
        <td>
    </tr>
</tbody>

<tbody *ngIf="!isLoading && !data.length" class="message">
    <tr>
        <td [colSpan]="columns.length" [ngStyle]="{textAlign: 'center'}">No Data</td>
    </tr>
</tbody>

<tbody table-body
    [actions]="actions"
    [columns]="columns"
    [data]="data"
    [idProperty]="idProperty"
    [isSelectable]="isSelectable"
    >
</tbody >