:host {
  &.conti-table {
    
    color: #404040;
    width: calc(100% - 2rem);
    margin: 1rem;

    border: 1px solid #a6a6a6;
    border-collapse: collapse;

    .message {
      padding: 1rem;
      height: 5rem;
      border: 1px solid #a6a6a6;
    }

    thead {
      background-color: #fff;
    }
    caption {
      font-size: 1.2rem;
    }
  }
}